.retailer{
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    margin:0 1rem ;

    .first-child{
        display: flex;
        justify-content: space-between;
    }

    .second-child{
        display: flex;
        justify-content: space-between;
    }

}